

/* 13 - Skills */
.skills-area {
    padding-top: 90px;
    padding-bottom: 40px;
}
.skills .skill {
    margin-bottom: 50px;
}
.skills .skill .skill-inner {
    border: 2px solid #565656;
    border-radius: 85px;
    padding: 54px 0 48px 0;
    margin-bottom: 20px;
    transition: .3s;
}
.skills .skill:hover .skill-inner {
    border-color: var(--primary-color);
}
.skills .skill .skill-inner img {
    display: block;
    margin: auto auto 29px auto;
}
.skills .skill .skill-inner h1 {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 300;
    margin: 0;
}
.skills .skill p {
    font-size: 14px;
    color: #fff;
    margin: 0;
}
