<ul class="menu scroll-nav d-flex">
  <li [class.active]="activeSection === 'home' " class="scroll-to tooltip" (click)="scrollTo('home')">
    <span class="tooltip-text">Home</span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home_outline"></mat-icon>
  </li>

  <li [class.active]="activeSection === 'about'" class="scroll-to tooltip" (click)="scrollTo('about')">
    <span class="tooltip-text">About</span>
    <mat-icon aria-hidden="false" aria-label="Example bookmark icon" fontIcon="person_outline"></mat-icon>
  </li>

  <li [class.active]="activeSection === 'resume'" class="scroll-to tooltip" (click)="scrollTo('resume')">
    <span class="tooltip-text">Resume</span>
    <mat-icon aria-hidden="false" aria-label="Example resume icon" fontIcon="assignment"></mat-icon>  
  </li>
   <li [class.active]="activeSection === 'skills'" class="scroll-to tooltip" (click)="scrollTo('skills')">
    <span class="tooltip-text">Skill</span>
    <mat-icon aria-hidden="false" aria-label="skill icon" fontIcon="bubble_chart"></mat-icon>  
  </li>
  <!-- Experince -->
   <li [class.active]="activeSection === 'experience'" class="scroll-to tooltip" (click)="scrollTo('experience')">
    <span class="tooltip-text">Experience</span>
    <mat-icon aria-hidden="false" aria-label="Example experience icon" fontIcon="work_outline"></mat-icon>
  </li>

  <li [class.active]="activeSection === 'portfolio'" class="scroll-to tooltip" (click)="scrollTo('portfolio')">
    <span class="tooltip-text">Portfolio</span>
    <mat-icon aria-hidden="false" aria-label="Example portfolio icon" fontIcon="grid_on"></mat-icon>
  </li>
  <li [class.active]="activeSection === 'contact'" class="scroll-to tooltip" (click)="scrollTo('contact')">
    <span class="tooltip-text">Contact</span>
    <mat-icon aria-hidden="false" aria-label="Example contact icon" fontIcon="mail_outline"></mat-icon>
  </li>
</ul>