// variables
$inter-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
$font-size-base: 16px;

$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #1f1f1f;


$text-color-grey: #999999;
$text-color-white: #ffffff;

$gredient-text-1: linear-gradient(180deg,
                var(--orange-red) 0%,
                var(--vivid-pink) 50%, );

$gredient-text-2: linear-gradient(90deg,
                var(--orange-red) 0%,
                var(--vivid-pink) 50%,
                var(--electric-violet) 100%);
$bright-blue: oklch(51.01% 0.274 263.83);
$electric-violet: oklch(53.18% 0.28 296.97);
$french-violet: oklch(47.66% 0.246 305.88);
$vivid-pink: oklch(69.02% 0.277 332.77);
$hot-red: oklch(61.42% 0.238 15.34);
$orange-red: oklch(63.32% 0.24 31.68);
$gray-900: oklch(19.37% 0.006 300.98);
$gray-700: oklch(36.98% 0.014 302.71);
$gray-400: oklch(70.9% 0.015 304.04);
$red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
                $orange-red 0%,
                $vivid-pink 50%,
                $electric-violet 100%);
$red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg, $orange-red 0%,
                $vivid-pink 50%, $electric-violet 100%);
$pill-accent: $bright-blue;

:host,
:root {
        --body-fonts: #{$inter-font}; // Interpolation
        --font-size-base: #{$font-size-base};
        --primary-color: #{$primary-color};
        --secondary-color: #{$secondary-color};
        --background-color: #{$background-color};
        --text-color-white: #{$text-color-white};
        --text-color-grey: #{$text-color-grey};

        --gredient-text-1: #{$gredient-text-1};
        --gredient-text-2: #{$gredient-text-2};
        --bright-blue: #{$bright-blue};
        --electric-violet: #{$electric-violet};
        --french-violet: #{$french-violet};
        --vivid-pink: #{$vivid-pink};
        --hot-red: #{$hot-red};
        --orange-red: #{$orange-red};
        --gray-900: #{$gray-900};
        --gray-700: #{$gray-700};
        --gray-400: #{$gray-400};
        --red-to-pink-to-purple-vertical-gradient: #{$red-to-pink-to-purple-vertical-gradient};
        --red-to-pink-to-purple-horizontal-gradient: #{$red-to-pink-to-purple-horizontal-gradient};
        --pill-accent: #{$pill-accent};
        --inter-font: #{$inter-font};
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}