<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ganesh Pataiya | Senior UI/Front-End Developer Portfolio</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I'm a Senior UI/Front-End Developer with 15 years of experience crafting responsive, user-friendly, and accessible web interfaces.">
  <meta name="author" content="Ganesh Pataiya">
  <meta name="keywords" content="UI Developer, Front-End Developer, Web Developer, HTML, CSS, JavaScript, React, UX, Ganesh Pataiya, Portfolio">
  <meta name="robots" content="index, follow">
  <meta http-equiv="content-language" content="en">
  <!-- open graph tag -->
   <!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="Ganesh Pataiya | Senior UI/Front-End Developer Portfolio">
<meta property="og:description" content="Explore my portfolio showcasing 15 years of front-end development experience with modern frameworks and pixel-perfect design.">
<meta property="og:image" content="https://ganesh-ui2.netlify.app/public/assets/images/ganesh-pataiya.jpg">
<meta property="og:url" content="https://ganesh-ui2.netlify.app"/>
<meta property="og:site_name" content="Ganesh Pataiya Portfolio"/>
<!--  -->

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Ganesh Pataiya | Senior UI/Front-End Developer Portfolio">
<meta name="twitter:description" content="Explore my front-end development projects and 15 years of UI expertise in building responsive and interactive websites.">
<meta name="twitter:image" content="https://x.com/GPataiya74354/photo">
<meta name="twitter:site" content="@pataiyaganesh">

  <link rel="icon" type="image/x-icon" href="public/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  
</head>

<body class="">

  <video id="video1" *ngIf="activeDiv === 'video1'" class="bg-video- body-overlay earth-lines-sphere" muted=""
    autoplay="" loop="">
    <source src="/public/assets/video/video1.mp4" type="video/mp4">
  </video>

  <video id="video2" *ngIf="activeDiv === 'video2'" class="bg-video body-overlay earth-lines-sphere" muted=""
    autoplay="" loop="">
    <source src="/public/assets/video/video2.mp4" type="video/mp4">
  </video>

  <video id="video3" *ngIf="activeDiv === 'video3'" class="bg-video body-overlay earth-lines-sphere" muted=""
    autoplay="" loop="">
    <source src="/public/assets/video/video3.mp4" type="video/mp4">
  </video>

  <app-root></app-root>
</body>

</html>